.comment-section {
    padding-top: 15px;
}

.comment p {
    margin: 0;
}

.comment {
    padding: 0 15px 0 15px;
    text-align: left;
    line-height: 1.25rem;
    margin-bottom: 7px;
}

.comment span {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-top: 15px;
    width: 98.4%;
    height: 50px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid lightgrey;
    padding-left: 10px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

