.comment-section {
    padding-top: 15px;
}

.comment-section .comment p {
    margin: 0;
}

.comment-section .comment {
    padding: 0 15px 0 15px;
    text-align: left;
    line-height: 1.25rem;
    margin-bottom: 7px;
}

.comment-section .comment span {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 7px;
}

.comment-section input {
    margin-top: 15px;
    width: 98.4%;
    height: 50px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid lightgrey;
    padding-left: 10px;
    font-size: 1rem;
}

.comment-section input:focus {
    outline: none;
}

.comment-controls {
    padding-left: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.comment-controls i {
    margin-right: 15px;
    font-size: 1.25rem;
}

.comment-section .post-likes {
    font-weight: bold;
    font-size: .9rem;
    padding-left: 15px;
}