@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');

.search-bar {
    border: 1px solid lightgrey;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.search-bar h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 1.75rem;
    color: rgb(57, 57, 57);
}

.search-bar .fa-instagram {
    font-size: 2rem;
    margin-right: 20px;
    border-right: 1px solid grey;
    padding-right: 20px;
}

.search-bar .logo-section {
    display: flex;
    align-items: center;
}

.search-bar input {
    height: 20px;
    width: 20%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.search-bar input:focus {
    outline: none;
}

.search-bar i {
    margin-left: 20px;
}