.comment-input input {
    margin-top: 15px;
    width: 98.4%;
    height: 50px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid lightgrey;
    padding-left: 10px;
    font-size: 1rem;
}

.comment-input input:focus {
    outline: none;
}