.comment {
    padding: 0 15px 0 15px;
    text-align: left;
    line-height: 1.25rem;
    margin-bottom: 7px;
}

.comment p {
    margin: 0;
}

.comment span {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 7px;
}